```python
#TODO: Complete this notebook
```
# Basic types

This covers the basic variable types in python

## Numbers

Numbers can be represented in python - and in many other programing languages - in different types such as Integers (1,4,7,etc..) or Floating points (2.32, 4.33, 5.0, etc...)

In python, to declare an integer variable we can simply do the following:

In [1]:
My_variable = 3

Here we declared a new variable named "My_variable" and we set it to be equal to 3
we caan test that by running the print function as follows

In [2]:
print(My_variable)

3

### Numbers vs Strings
Something to note here is that when we code in python, 5 will be considered as an integer, but "5" wrapped in quotation will be considered as a string

Therfore, you should be careful when trying to add numbers and strings!

###### Notice the difference between the two examples below

In [3]:
5 + 5

10

In [4]:
"5" + "5"

'55'

Quotation (single or double) means string. remember that!

#### Converting String to Integer

To convert a string to integer we can use the function 
```python
int() 

```

Example: Converting a string "5" to integer 5

In [5]:
int("5")

5

##### Note:
This doesnt work for strings that contains characters other than numbers.
As you can see, it produces an error as seen below.

In [6]:
int("My favorite number is 2")

ValueError: invalid literal for int() with base 10: 'My favorite number is 2'

## String

Strings are any text that should be treated as a text by the program.
You can represent a string by containing

it within `'Single Quotes'` or `"Double Quotes"`

##### Escaping single quote or double quote within a string

Sometimes, we need the string to contain an apostrophe `'` or quotation marks `"` and this could cause problems when we use them directly in the string. 
As an example, lets use the following sentance `Don't Give up` below:

In [7]:
'don't Give Up'

SyntaxError: invalid syntax (<ipython-input-7-7f166f3ca51a>, line 1)

A simple workaround to the issue above is to wrap everything in doubequotes `"` as follows

In [8]:
"don't Give Up"

"don't Give Up"

Another workaround is to __Escape__ this character by adding `\` before it. as follows

In [9]:
'don\'t give up'

"don't give up"

#### String Concatenation

We can join two strings (or any number of strings) together by using the `+` operator
__Note__: Rembmer `"5" + "5" = 55` from the previous section? we were doing string concatenation

This is useful when we want to joing strings such as first name, last name.
Example below:

In [10]:
First_name = "Firas"
Last_name = "Al Wadhahi"

"Welcome, " + First_name + Last_name

'Welcome, FirasAl Wadhahi'

Notice something odd about the output above?

There is no space between First name and Last name, we can fix it by introducing a space.

In [11]:
"Welcome, " + First_name + " " + Last_name

'Welcome, Firas Al Wadhahi'

##### What about concatenating string with integers?

Well, doing so directly will cause problems. Lets try that

In [13]:
"The price is " + 25

TypeError: must be str, not int

As expected, it throws an error, and the solution is to _cast_ the integer to string using the `str()` function

In [14]:
"The price is " + str(25)

'The price is 25'

We can also perform mathemtical operations within the `str()` function

In [16]:
"The price is " + str(5 + 5 + 15)

'The price is 25'

### Splitting strings

Often times we need to split strings into parts that we can use in our program.

We can use this if we want to manually interpret `.csv` files i.e Comma Seperated Values

The nature of `.csv` file is that it stores the values seperated by a comma `,`. Lets take the following simple table for example: 

| Car  |Model| Year | Price |
|------|-----|------|-------|
|Dodge |Charger| 2015| 1000|
| Lexus | IS  | 2016 | 2000|
| Mazda | 6 | 2017 | 3000 |


The representation of the table above in `.csv` file is as follows
```csv
Car,Model,Year,Price
Dodge, Charger,2015, 1000
Lexus, IS, 2016, 2000
Mazda, 6, 2017, 3000
```

Now, if we want to read the `.csv` file line by line, we need to __split__ the text into usefull information  

Since we know that the text is seperated by a comma `,` we can use the `split()` function. 

This function takes the _seperator_ as an argument and then splits the string into an array.
Example:

In [3]:
car = "Dodge, Charger,2015, 1000".split(",")
print(car)

['Dodge', ' Charger', '2015', ' 1000']

__Note__: arrays index always starts from zero
So, for the above array 'Dodge' index is 0
'Charger' index is 1
'2015' index is 2
and '1000' index is 3

we can use this information to access them by mentioning the index number inside square bracket `[]`

In [4]:
car[0] + " Price is " + car[3]

'Dodge Price is  1000'